
body{
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh; */
}
.card1{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}
.item{
    display: flex;
    flex-direction: column;
    /* width: 450px; */
    /* height: 450px; */
    background: greenyellow;
    gap: 1rem;
}

.o{
    padding: 5px;
    margin: 5px;
    flex: 1;
}
.o:nth-child(even){
    background: white;
}
.o:nth-child(odd){
    background: black;
}
.a{
    margin-top: 0;
}